<nav>
	<div>
		<app-prof></app-prof>
	</div>
	<div>
		<app-addprof></app-addprof>
	</div>
	<div>
		<app-student></app-student>
	</div>
	<div>
		<app-addstudent></app-addstudent>
	</div>
	<div>
		<app-program></app-program>
	</div>
	<div>
		<app-addprogram></app-addprogram>
	</div>
	<div>
		<app-cours></app-cours>
	</div>
	<div>
		<app-addcours></app-addcours>
	</div>
	<div>
		<app-groupecours></app-groupecours>
	</div>
	<div>
		<app-addgroupecours></app-addgroupecours>
	</div>
	<div>
		<app-add-cours-to-program></app-add-cours-to-program>
	</div>
	<div>
		<app-program-cours></app-program-cours>
	</div>
</nav>
